.App {
  text-align: center;
}

button {
  cursor: pointer;
}

button:hover {
  outline: solid .25em white;
}

button:focus {
  background-color: rgb(88, 12, 165);
}

.contentTitle {
  text-align: center;
  width: 100%;
}

.contentBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  padding: 2rem 5rem;
}

.usersBox {
  border: .25rem solid #000;
  width: 100%;
  margin: auto;
  padding: 1rem;
  height: 100%;
}

.userButtonsBox {
  display: flex;
}

@media only screen and (max-width: 1024px) {
  .contentBox {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .contentBox {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 618px) {
  .contentBox {
    padding: 0 .5em;
    grid-column-gap: 0;
  }

  .usersBox {
    width: 90%; 
    padding: .1em;
    font-size: .5em;
  }
}